$tradegothic :   'TradeGothicW01-BoldCn20_675334', san-serif;
$brandon :       'Brandon Grot W01 Medium', san-serif;
$brandonbold:    'Brandon Grot W01 Bold';
$brandonblack:   'Brandon Grot W01 Black';
$brandonregular: 'BrandonGrotW01-Regular';
$brandonitalic:  'BrandonGrotW01-RegularI';

$lightblue:     #67A5D6;
$darkblue:      #4072B5;
$green:         #138D85;
$lightgreen:    #88CCB7;
$yellow:        #EFBC33;